.custom-select {
    cursor: pointer;
    color: var(--c-text-accent);
    margin: 0;
    display: inline-block;
}


/* Date piker css */

.dp__button {
    display: none !important;
}

.dp__input_icon {
    top: 26% !important;
    left: 91.5% !important;
}

.dp__main {
    margin-right: 16px;
    width: 282.5px;
    height: 36px;
    border-radius: 2.5px;
}

.dp__input:hover {
    border-color: #1aa4c8 !important;
}

.dp__input:focus {
    border-color: #1aa4c8 !important;
}

.dp__clear_icon {
    display: none !important;
}

.dp__input_icon_pad {
    padding-left: 14px !important;
}

.dp__input {
    border-radius: 2.5px !important;
    font-family: sans-serif !important;
    font-size: 13px !important;
    border: 1px solid #afafaf !important;
    padding: 5px 12px;
}

.dp__select {
    color: #1aa4c8;
}

.dp__range_end,
.dp__range_start,
.dp__active_date {
    background: #1aa4c8;
}

.dp__today {
    border: 1px solid #1aa4c8;
}