.content {
    background-color: #f4f7ff;
}

.content-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}

.content-menu-button {
    display: flex;
    align-items: center;
}

.content-menu-input {
    display: flex;
    align-items: center;
}